<!doctype html>
<html>
  <head>
    <title>{{ website_name | default("Unknown Site") }}</title>
  </head>
  <body>
    <h1>
    <p>It worked.. <strong>{{ website_name }}</strong> on server <strong>{{ ansible_facts['nodename'] }}</strong>. Ansible roles works and is fun</p>
  </h1>
  </body>
</html>
